body{
    margin:0px;
    padding:0px;
    overflow: hidden;
    background-color: #fbfbfb;
    background:url(bg.jpg) no-repeat;
    font-family: 'Noto Sans' sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    display: block;
    min-width: 320px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
}

.nav a:hover {
  background: #ddd;
  color: black;
}

input[type=home]:hover {
  background-color: #45a049;
}

.logo{
    padding:.5em;
    font-size: 30px;
}

nav ul{
    display: grid;
    list-style-type: none;
    margin:0px;
    grid-template-columns: repeat(4,1fr);
}

nav ul li{
    padding: 1.3em;
    justify-self: end;

}
nav ul li a{
    color:white;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Montserrat' , sans-serif;
}

  .subjectMatter {padding:20px;
  }

  h1 {
    margin-left: 100px;
    margin-top: 250px;
    font-weight: bold;
    color: #28963f
  }

  p {
    top: -100px;
    margin-left: 100px;
    font-family: 'Open Sans',sans-serif;  
    font-size: 20px;
    color: #FFFFFF;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #000
}

.tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    margin: auto;
    width: 50%;
    padding:0px;
    top: -350px;
    left: 350px;
  }

  .tagcloud--item:hover {
    color: #36454F;
  }
